<div id="product-qrcode-block" data-product-id="{{ block.settings.product.id }}"></div>

{% schema %}
{
  "name": "QrCode",
  "target": "section",
  "settings": [{ "type": "product", "id": "product", "label": "product", "autofill": true }]
}
{% endschema %}
